// COLORS
$color-primary: #33c173;
$color-secondary: #ececee;

$color-white: #ffffff;
$color-gray: #808285;
$color-black: #2b2f32;
$color-red: #bf0413;
$color-green: #258d54;

$color-light-gray: #cfd3d4;
$color-light-black: #5e6366;
$color-light-red: #ee1325;

// RADIUS
$radius: 0.8rem;

// FONT WEIGHT
$font-normal: 400;
$font-bold: 700;