$color-primary: #8033c1;
$color-secondary: #ececee;

$color-white: #ffffff;
$color-gray: #808285;
$color-black: #2b2f32;
$color-red: #bf0413;
$color-green: #28a745;

$color-primary-dark: #5c258d;
$color-dark-green: #19692c;

$color-light-gray: #cfd3d4;
$color-light-black: #5e6366;
$color-light-red: #ee1325;

$radius: 0.5rem;

$font-normal: 400;
$font-bold: 700;
